# Importing Necessary Libraries and reading the csv data

In [ ]:
import pandas as pd
import MySQLdb as mysql

In [38]:
df=pd.read_csv("email_1k.csv",names=["Emails","ID"])

# Fetching the data and applying operations and saving to domains.csv

In [39]:
k=df['Emails'].apply(lambda x: x.split('@'))
dnms=[dn[-1] for dn in k if len(dn)>1]
l2=[i for i in range(len(set(dnms)))]
l1=[]
l3=[]
for r in set(dnms):
    l1.append(r)
    l3.append(dnms.count(r))
d = {"domain":l1,"domain_id":l2,"email_counts":l3}
df2 = pd.DataFrame(data=d)
df2.to_csv('domains.csv',index=False)

df2.head()

           domain  domain_id  email_counts
0      icloud.com          0             1
1   jmplating.com          1             1
2     wightman.ca          2             1
3  totalise.co.uk          3             1
4      telenet.be          4             1

# Applying operations and saving to email_domain_data.csv

In [40]:
D={}
for i,j in zip(d['domain'],d['domain_id']):
    D[i]=j
email=[]
id_email=[]
domain=[]
domain_id=[]

for a,b in zip(df['Emails'].apply(lambda x: x.split('@')),df["ID"]):
    if len(a)>1:
        email.append("@".join(a))
        id_email.append(b)
        domain.append(a[-1])

for i in domain:
    domain_id.append(D[i])
e = {"email":email,"id_email":id_email,"domain":domain,"domain_id":domain_id}
df3 = pd.DataFrame(data=e)
df3.to_csv('email_domain_data.csv',index=False)
df3.head()

                     email  id_email            domain  domain_id
0    bennyb@fun-center.com  76217750    fun-center.com         20
1        bennyb@getgds.com  76217751        getgds.com         32
2         bennyb@gmail.com  76217752         gmail.com         82
3  bennyb@gosselingroup.eu  76217753  gosselingroup.eu         59
4       bennyb@hotmail.com  76217754       hotmail.com        110

# Making the connection with mysql and uploading the data

In [ ]:
conn = mysql.connect(host='localhost',database='Task2',user='root',password='admin')
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS Kavin_domain_data;')
cursor.execute('DROP TABLE IF EXISTS Kavin_email_domain_data;')
cursor.execute("CREATE TABLE Kavin_domain_data (domain VARCHAR(30) NOT NULL, domain_id INT NOT NULL, email_counts INT NOT NULL, PRIMARY KEY(domain_id));")
cursor.execute("CREATE TABLE Kavin_email_domain_data (email VARCHAR(50) NOT NULL, id_email INT NOT NULL, domain VARCHAR(30) NOT NULL, domain_id INT NOT NULL ,PRIMARY KEY(id_email));") 


# #Uploading the data in table 1 Kavin_domain_data

for i in zip(df2['domain'],df2['domain_id'],df2['email_counts']):
    query = 'INSERT INTO Kavin_domain_data (domain,domain_id,email_counts) VALUES'
    q=query+str(i)+';'
    cursor.execute(q)
    conn.commit()

# #Uploading the data in table 1 Kavin_email_domain_data    
    
for j in zip(df3['email'],df3['id_email'],df3['domain'],df3['domain_id']):
    query = "INSERT INTO Kavin_email_domain_data (email,id_email,domain,domain_id) VALUES"
    q=query+str(j)+';'
    cursor.execute(q)
    conn.commit()
print("All REcord Inserted successfully")